
<%-include("header")-%>
<div class="box" id="heading">
  <h1><%= listheading %></h1>

</div>

<div class="box">
<%  todoitems.forEach(function(todoitem){ %>
<form  action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= todoitem._id%>" onChange="this.form.submit()">
      <p><%= todoitem.name %></p>
    </div>
    <input type="hidden" name="hiddenListName" value="<%=listheading%>"></input>
</form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%=listheading%>>+</button>
  </form>
</div>
<%-include("footer")-%>
