
<%-include("header")-%>
<div class="box" id="heading">
  <h1><%= listheading %></h1>

</div>

<div class="box">
<%  for(var i=0; i<todoitems.length;i++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= todoitems[i] %></p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%=listheading%>>+</button>
  </form>
</div>
<%-include("footer")-%>
